# Ignora cartelle di build per tutti i progetti
**/bin/
**/obj/
/node_modules/
launchSettings.json
appsettings.Development.json
appsettings.Test.json

# Altri file temporanei utili da ignorare
.vs/
*.user
*.suo
*.pdb
backend/ExpenseBackend.sln



# Variabili d'ambiente
.env
.env.*

